*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  position:relative;
}


.handi--body{
	position:relative;
}

.borderbottom {

}

.noborder {
	border-bottom:none;
}
.handi-shadow {
  position : absolute;
  top:0;
  left:0;
  background-color:DarkSlateGrey;
  z-index:1000;
  opacity: 0.8
}

.handi--header {

  height:30px;

  box-sizing:border-box;
 
 
}

.handi--container {
  position:relative;
  margin:auto;
}
.handi--footer {

}
#handi--upload {
  position:relative;
  top : 45px;
}


.handi--container-basketContainer{
  
}

.handi--container-basketbtns {
text-align:left;
padding:2px;
color:white;

font-size:12px;
min-width:80px;
cursor:pointer;

}

.handi--container-basketBuy {
  color : white;
  border:none;
  background-color:green;
  float:right;
  width:auto;
}

.handi--container-basketCheck {
  color:white;
  text-align:left;
  float:left;
  width:auto;
  cursor:pointer;
  
}

.handi--container-basketPrice {
 
}

.handi--container-spaceContainer {
  display:flex;
  justify-content:center;
  
}

.handi--container-spacebtns {
  text-align:center;
  padding:2px;
  color:grey;
  font-size:12px;
  border-top:1px solid gray;  
  min-width:100px;
  cursor:pointer;
}


.handi--details-addContainer {
 
  position:relative;

  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:45px;
}


.handi--details-inputs {
  display:block;
  margin-top:10px;
  width : 300px;
  height : 30px;
  border:none;
  background-color:transparent;
  border-bottom : 1px solid white;
  box-sizing:border-box;
  padding:2px;
  padding-left:0;
  color:white;
}
#handi--details-priceInput {
  width:100px;
  outline:none;
}

#handi--details-descriptionInput {
  width:240px;
  outline:none;
}

#handi--details-nameInput {
  width:300px;
  outline:none;
}

.handi--details-submit {
  display:block;
  width:80px;
  box-sizing:border-box;
  height:22px;
  background-color:transparent;
  vertical-align:middle;  
  padding:3px;
  font-family:verdana;  
  color:black;
  background-color:white;
  font-size:14px;
  text-align:center;
  margin-top:40px;
  cursor:pointer;
}

.handi--container-thumbShadow {
  position:absolute;
  top : 0;
  left : 0;
  background-color:DarkSlateGrey;
  opacity:0.6;
  z-index:99;
}
#handi--container-thumbs{
	display:flex;
	flex-direction:row;
	height:140px;
	width:auto;
	position:relative;
}


.handi--container-thumbs {
  position : relative;
  overflow:hidden;
}

.handi--container-progressbar {
  position:absolute;
  top : 50%;
  left : 50%;
  transform : translateX(-50%) translateY(-50%);
  z-index:100;
}

.handi--header-backHome {
  width : 25px;
  height : 25px;
  float : left ;
  margin-bottom : 3px;
}

.handi--header-backHomeImg {
  margin-top: 12px;;
  margin-left : auto;
  margin-right : auto;
  width : 18px;
  height : 18px;
  cursor:pointer;
}
.handi--header-closeImg {
  margin-top: 12px;;
  margin-left : auto;
  margin-right : auto;
  width : 15px;
  height : 15px;
  cursor:pointer;
}

#handi--archive {
  position:relative;

}
#handi--model {
  top:45px;
position:relative;
}

.handi--archive-view {
  margin-left:auto;
  margin-right:auto; 
  margin-bottom:50px;
}
.handi--archive-containerView{

}
.handi--archive-viewThumb{
  float:left;
 
}
.handi--archive-viewDetails{
  float : left;
}

.handi--archive-viewDetail {
  padding:3px;
  color : white;
  min-height: 20px;
  font-size : 16px;
  background-color : DarkSlateGrey;
}
.handi--archive-viewDesc {
  font-size:12px;
  padding:3px;
  color:white;
  min-height:20px;
  background-color:DarkSlateGrey;
}


.handi--header-create {
  background-color:green;
  border:1px solid white;
  width : 120px;
  font-size:12px;
  color:white;
  padding:3px;
  height:25px;
  margin-top:10px;
  text-align:center;
  cursor:pointer;
  float:right;
  box-sizing:border-box;
}

.handi--container-detailProduct {
  color : black;
  font-size : 14px;
  padding:3px;
  box-sizing:border-box;
  
}

.handi--container-detailDesc {
  color:gray;
  font-size : 12px;
  padding:3px;
  box-sizing:border-box;
}
.handi--container-detailPrice{
  color :DarkGreen;
  font-size : 12px;
  padding:3px;
 box-sizing:border-box;
}

.handi--container-spaceCart {

  cursor:pointer;
  color:green;
}
.handi--header-item {
  float:right;
  padding:3px;
  font-size:14px;
  cursor:pointer;
   
  color:blue;
  margin-left:8px;
  width:20px;
  height:20px;
}

.handi--header-png {
  width:20px;
  height:20px;
  float:right;
  padding:3px;
  font-size:14px;
  cursor:pointer;
  margin-top:8px;  
  color:blue;
  margin-left:20px;
}

.handi--header-map{
  width:25px;
  height:25px;

  padding:3px;
  font-size:14px;
  cursor:pointer;
  margin-top:10px;  
  color:blue;


}

.handi--container-hmContainer {
  position:absolute;
  top : 0;
  right : 0;
  min-height:20px;
  z-index:101; 
  background-color:white;
}

.handi--container-map {

  position:absolute;
  top : 0; 
  right: 0;
  z-index : 100;
} 


#handi--menu {
  position:fixed;
  z-index:105;
}

#handi--menu-footer{
  position:fixed;
  z-index:106;
 background-color:black;
 opacity:1;
}

.handi--footer-footerItem{
  float:left;
  width:80px;
  font-size:10px;
  text-align:center; 
  padding:3px;
  top:2px;
  position:relative;
 color:grey;
  cursor:pointer;
}


#handi--footer-details {
  position:relative;
  font-size:12px;
  padding:5px;  
  margin-left:auto;
  color:white;
  margin-right:auto;
} 

.handi--footer-border {
  width : 5px;
  float:left;
  height:20px;
  border-left:1px solid white;
  box-sizing:border-box;
}

#handi--footer-links {
  height:30px;
  display:flex;
  justify-content:center; 
  margin-left:auto;
  margin-right:auto;
}

#handi--basket {
  position:relative;
  display  :flex;
 justify-content:center; 

}


.handi--basket-btns {
  width:auto;
  height:auto;
  padding:3px;
  float:left;
  position:relative;
}

.handi--basket-green {
  border-bottom:2px solid green;
}

.handi--basket-red {
  border-bottom:2px solid red;
}


.handi--upload-editRemove {
  padding:3px;
}

.handi--hash-headerItem {
 
  flex-grow:1;
  padding:3px;
  float:left;
  box-sizing:border-box;
 font-size:12px;
 color:white;
 cursor:pointer;
 text-align:center;
width:95px;
}

.handi--hash-trendItem {

  font-size:10px;
  padding-top:5px;
  color:tomato;
}

.handi--hash-trendItem:hover{
   font-size:12px;
   color:red;
   padding-top:5px;

}

.handi--hash-mapItem {
  align-content:center;
  padding:3px;  
  box-sizing:border-box;
  font-size:12px;
  color:white;
  cursor:pointer;
  width:20px;
  height:20px;
}

.handi--hash-header {
  display:flex;
  justify-content:center;
}

.handi--details-placeholderLeft::placeholder {
 
 text-align:left;
}

.handi--details-placeholderLeft {
  width : 278px;

}

.handi--details-placeholderRight::placeholder {
  text-align:right
}

#handi--details-hashInput{
  outline:none;
}


.handi--hash-containerAdd {
  
 background-color:white;
 color:black;
 padding:3px;
 font-size:12px;
 box-sizing:border-box;
 margin-left:5px;; 
 float:left;
 opacity : 0.8;
 cursor:pointer; 
 margin-top:5px;
}

.handi--upload-btn {
	position:relative;
	float : left;
	width : 100px;
	background-color:lightblue;
	color:black;
	height:23px;
	padding:3px;
	vertical-align:middle;
	text-align:center;
	top:10px;
	cursor:pointer;	
}

.handi--fileContainer-wrapper{
	width : 110px;
	height:110px;
}

.handi--body-upload {

	display : flex;
	margin:auto;
	padding-top:20px;

	flex-wrap:wrap;
	justify-content:space-between;
	
}

.handi--upload-footer{
	width:100%;
	background-color:white;
	display:flex;
	justify-content:space-between;
}
.handi--upload-items {
	width:100px;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	cursor:pointer;	
}

.handi--upload-line{
	display:block;
	width:15px;
	height:2px;
	vertical-align:center;
}

.handi--upload-num{
	display:flex;
	align-items:center;
	justify-content:space-between;	


}

.handi--selected {
	border-bottom:3px solid green;
}

.handi--unselected {
	border-bottom:3px solid tomato;
}

.handi--select-map{

	position:relative;
	z-index:1000;
	top:60px;

	margin:auto;	
}

.handi--details-wrapper{
  width:300px;
  height:auto;
  margin:auto;
}

.handi--username {
	float:right;
  margin-top: 8px;;
  margin-left : auto;
  margin-right : auto;
  width :auto;
  height : 20px;
  cursor:pointer;
  padding:3px;
  border-bottom:1px solid black;
}

.home--thumb-map{

	position:relative;
	top : 10px;
	left :10px;
	width:150px;
	height:200px;
	background-color:white;
	padding:2px;
	z-index:100000;
}

.handi--user-menu{
	width:150px;
	height:auto;
	position:absolute;
	background-color:white;
	top : 0;
	z-index:1001;
}

.handi--menu-item {
	color:black;
	cursor:pointer;
	height : 30px;
	padding:3px;
	text-align:center;
	vertical-align:middle;
}

.handi--show-details {

float:left;
margin-left:40px;
	
}

.handi--show-title {
 
	height:40px;
	font-size:18px;
	
}

.handi--show-text {
	height:auto;
	
}

.handi--show-price {
	font-size:16px;
	height:30px;
	padding-top:5px;

}

.handi--basket-next{
	float:right;
	margin-top:20px;
	width:18px;
	height:7px;
	cursor:pointer;
	opacity:0.6;
}

.handi--basket-back{
	float:left;
	margin-top:20px;
	width:18px;
	height:7px;
	cursor:pointer;
	opacity:0.6;
}

.handi--thumb-container{
	width:100%;
	overflow:hidden;
	height:140px;
	border-top:1px solid grey;

}

.basket--container{
	position:absolute;
	z-index:999;
	top: 0;
left: 0;
right: 0;
bottom: 0;
margin-left:auto;
margin-right:auto;;

	background-color:white;
	
}

.basket--body {
	width:100%;
}

.basket--header {
	width:100%;
}




